.budget-tool-container {
    text-align: center;
}

.stats-container{
    font-size: 24px;
    width: 15%;
    margin: 0 auto;
}

.stat-row{
    margin: 0 auto 10px auto;
    background-color: lightgrey;
    padding: 10px;
}

.expense-list-container{
    font-size: 16px;
    width: 15%;
    margin: 0 auto;
}
.expense-list-wrapper{
    margin: 0 auto 10px auto;
    background-color: lightgrey;
    padding: 10px
}

.list-group-item{
    display:flex;
    justify-content: space-between;
}

.add-expense-container{
    font-size: 16px;
    width: 15%;
    margin: 0 auto;
}

.add-expense-row{
    margin: 0 auto 10px auto;
    padding: 10px;
    justify-content: space-between;
}